body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}



@font-face {
    font-family: 'Carbo';
    src: url('../Fonts/KGBlankSpaceSolid.ttf') format('truetype');
}

@font-face {
    font-family: 'Umpty';
    src: url('../Fonts/umpty-inside.otf') format('truetype');
}

.logo {
    position: absolute;
    top: 2%;
    left: 46.1%;
    width: 120px; /* Adjust the size as needed */
    height: auto; /* Maintain the aspect ratio */
}

.button-Profile {
    position: absolute;
    top: 5%;
    left: 17%;
}

.button-Tournoi {
    position: absolute;
    top: 5%;
    right: 30%;
}

.button-Chat {
    position: absolute;
    top: 5%;
    right: 20%;
}

.button-Settings {
    position: absolute;
    top: 5%;
    right: 7%;
}

.button-Home {
    position: absolute;
    top: 5%;
    left: 7%;
}

button {
    font-family: monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 180%;
    color: #ffffff;
    text-align: center;
    background: none;
    border: none;
}


.button-Game button {
    position: absolute;
    top: 5%;
    left: 30%;
    font-family: monospace;
    font-weight: 100;
    font-style: normal;
    font-size: 220%;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(135deg, #f5f5f5, #8abf82);
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.90);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}