body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('../assets/images/new_backround.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the whole area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    filter: blur(15px);
    /* position: relative; Ensure proper stacking context */
}


  /* .button-container {
    position: absolute;
    bottom: 42.5%;
    right: 39.2%;
} */

.circle {
    position: absolute;
    top: 25%;
    right: 19%;
    width: 10%;
    height: 18%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}

.circle img {
    position: absolute;
    width: 120%;
    height: auto;
    object-fit: cover;
}

.rectangle {
    position: absolute;
    bottom: 20%;
    right: 7%;
    width: 33.12%; /* Width of the rectangle */
    height: 62%;
    background-color: rgba(90, 120, 102, 0.5); /* Background color of the rectangle */
    border: 2px solid #000; /* Border around the rectangle */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.90);
    border-radius: 40px;
}

.logo {
    position: absolute;
    top: 20%;
    left: 18%;
    width: 500px; /* Adjust the size as needed */
    height: auto; /* Maintain the aspect ratio */
}

.Welcome h1 {
    position: absolute;
    font-family: 'Carbo', serif;
    font-size: 800%;
    top: 45%;
    left: 11%;
    color: rgba(130, 167, 145, 0.9);
    text-shadow: 0 0 100px rgb(8, 255, 102);

}
.name {
    position: absolute;
    top: 50%;
    right: 12%;
}

.Age {
    position: absolute;
    top: 55%;
    right: 12%;
}

.Mail {
    position: absolute;
    top: 60%;
    right: 12%;
}

.City {
    position: absolute;
    top: 65%;
    right: 12%;
}

.button-container {
    position: absolute;
    top: 74%;
    right: 15%;
}

input {
    font-family: 'Carbo', serif;
    font-weight: 200;
    font-style: normal;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
    background-color: rgba(177, 245, 195, 0.1);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.9);
    cursor: pointer;
    border-radius: 10px;
}

label {
    position: absolute;
    font-family: 'Carbo', serif;
    font-size: 250%;
    top: -15%;
    left: -80%;
    color: rgb(255, 255, 255);
}

button {
    padding: 2% 100%;
    font-family: 'Carbo', serif;
    font-weight: 100;
    font-style: normal;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
    background-color: rgba(15, 157, 53, 0.6);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.90);
    cursor: pointer;
    border-radius: 10px;
}

